extends ./layout.pug

block content
  include ./table1.pug
  br
  include ./table2.pug
  br
  include ./table3.pug
  br
  include ./table4-5.pug
  br
  include ./table6.pug
  br
  include ./table7.pug