table#t6
  tr
    td.header(style="width:230px;"): span 最寄駅
    td.header.follow(style="width:190px;"): span 扶養家族（配偶者を除く）
    td.header.follow(style="width:190px;"): span 配偶者の有無
    td.header.follow(style="width:190px;"): span 配偶者の扶養義務
  tr
    td.body: span= station
    td.body.follow: span= dependent
    td.body.follow: span= spouse
    td.body.follow: span= support